@import 'config';

// Extend/Inheritance
%nav-list-share {
    list-style-type: none;
    padding: 0;
}

%flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

%call-to-action {
    background: $primary-color;
    padding: 11px 45px;
    border: 1px solid $primary-color;
    border-radius: 25px;
    box-shadow: 2px 5px 10px -5px $footer-background;
    font-weight: $button-font-weight;
    color: white;
}

%heading-font {
    font-family: $heading-font-stack;
    font-weight: $heading-font-weight;
    color: $footer-background;
}

body {
    font-family: $body-font-stack;
    font-weight: $body-font-weight;
    font-size: $font-size-base;
    margin: 0;
}



// Mobiles first //
// Header
.header {
    @include setBgImg($mobile-bg);

    .header__nav {
        @extend %nav-list-share;
        @extend %flexbox;
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
    }

    a {
        display: inline-block;
        width: 40%;
        padding-top: 3px;
    }

    .header__logo {
        width: 100%;
    }

    #nav__btn {
        margin-left: auto;
        background: white;
        padding: 5px 25px;
        border: 1px solid white;
        border-radius: 15px;
        box-shadow: 0 2px 5px 0px $feature-text-color;
        font-weight: $button-font-weight;
        color: $footer-background;
    }

    .header__hero {
        width: 82%;
        margin: 75px auto 0 auto;
        padding-bottom: 25px;
        text-align: center;
    }

    .hero__heading {
        @extend %heading-font;
        font-size: 1.3em;
    }
    
    p {
        font-size: .9em;
        line-height: 1.5em;
        margin: 24px auto 15px auto;
    }

    .call-to-action {
        @extend %call-to-action;
        margin-top: 18px;
        margin-bottom: 50px;
    }

    .hero_img {
        width: 100%;
    }
}

main {
    margin-top: 60px;
}

.feature {
    width: 90%;
    margin: 35px auto;
    padding: 20px 0;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 0 10px -5px $footer-background;
    text-align: center;

    .feature__illustration {
        padding: 30px 50px;
    }

    .feature__description {
        padding: 0 38px;
    }

    .feature_heading {
        @extend %heading-font;
        font-size: 1.1em;
        margin: 23px auto 10px auto;
    }

    .feature__text {
        font-size: .8em;
        line-height: 1.4em;
        color: $feature-text-color;
    }

    .feature__img {
        width: 100%;
    }
}

.feature-action {
    width: 94%;
    padding: 40px 0;
    position: relative;
    top: 90px;
    background: white;
    margin-bottom: 25px;

    .action__heading {
        @extend %heading-font;
        font-size: 1em;
        margin: 5px auto 25px 0;
    }

    .call-to-action {
        @extend %call-to-action;
        padding: 11px 40px;
    }
}

footer {
    background-color: $footer-background;
    padding: 136px 15px 10px 15px;
    p, a {
        color: $footer-text-color;
    }

    .footer__logo {
        filter: brightness(0) invert(100) grayscale(100);
        width: 50%;
    }

    .footer__body {
        margin-top: 25px;
    }

    .address__inner {
        @extend %flexbox;

        div {
            min-width: 20px;
            margin-top: 3px;
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 18px;
            font-size: .9em;
        }
    }
}