/*** When the viewport is greater then 549px
     then apply these rules ***/

@media screen and (min-width: 550px) {
  .feature {
    width: 80%;
  }

  section.feature-action {
    width: 70%;
  }

  .footer__head {
    width: 35%;
  }

  .address__text {
    width: 92%;
  }
}
