/*** When the viewport is greater then 424px
     then apply these rules ***/

@media screen and (min-width: 1210px) {
  h1.hero__heading {
    font-size: 2.5em;
  }

  section.feature-action {
    padding: 30px;
  }

  .footer__body {
    padding-top: 15px;
  }

  .feature-action .action__heading {
    font-size: 2em;
  }
}
