// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

#submit__btn {
  cursor: pointer;
  border: 1px solid $button-bg-start;
  border-radius: 50px;
  margin-left: 10px;
  width: 65px;
  height: 48px;
  box-shadow: 0px 10px 20px -12px $heading-color;
  background: linear-gradient(135deg, $button-bg-start, $button-bg-end);

  @include respond-to("medium") {
    width: 90px;
    height: 55px;
  }
}

#submit__btn:focus {
  outline: none;
}

#submit__btn:active {
  transform: translateY(1px);
  background: $button-bg-start;
  box-shadow: none;
}
